* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero .img {
    top: -62px;
    left: -109px;
}

.hero__text h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 64px;
    /* or 107% */

    letter-spacing: -0.02em;

    color: #000000;
}

nav a:nth-child(2):hover{
   background: rgb(238, 237, 237);
}
nav a:nth-child(2):active{
    background-color: #fff;
}

.hero__text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */


    color: #000000;
}

.hero__text .btn {
    padding: 12px 48px;
    border: none;
    background-color: #E50000;
}
.hero__text button:hover{
background-color: #f14747;
}
.hero__text button:active{
    background-color: #E50000;
}

.sec_one-cont:hover {
    background: #FCFCFC;
    box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.sec_one .img {
    position: relative;
    left: -50px;
    width: 537.6px;
    height: 410px;
}



.sec_one__text {
    margin-top: 48px;
    margin-left: 56px;
}

.sec_one__text h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

.sec_one__text p {
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: #000000;
}

.sec_two h3 {
    margin-top: 144px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
font-size: 32px;
line-height: 44px;
/* identical to box height */

letter-spacing: -0.02em;

color: #000000;

}

.sec_two .box {
    height: 120px;
    align-items: center;
    margin: 20px auto;
}

.sec_two .box span {
    display: block;
    font-weight: 800;
    font-size: 54px;
    line-height: 60px;
    /* identical to box height, or 111% */

    letter-spacing: -0.02em;
    color: #E50000;
}

.sec_two .box p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 167% */


    color: #000000;
}

.sec_three {
    margin-top: 144px;
}

.sec_three .row {
    margin-top: 40px;
}



.card {
    margin: auto;
}

.sec_four {
    margin-top: 144px;
}

.sec_four .ul__top {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;

    opacity: 0.6;
}

.sec_four ul .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #000000;
    margin-left: -13px;
}

.sec_four .btn {
    margin-left: 6px;
}

.sec_four .card {
    margin: auto;
   
}
.cards:hover{
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}


.sec_four .card .btn:hover {
    background: #000000;
    color: white;
}
.sec_four .card .btn:active{
    background-color: #fff;
}

.quetion {
    margin-top: 144px;
}

.quetion .acca {
    max-width: 812px;
    margin: 40px auto;
}

.sec_six {
    margin-top: 144px;
}

.sec_six h3 {
    margin-bottom: 40px;
}

/* .sec_six .card {
    display: flex !important;
    
} */

.sec_six .card img {
    width: 252px;
    height: 193px;
    display: inline-block;
}
.enddd-cards{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 600px ;
    grid-template-rows: 200px;

}
.end-cards:hover{
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.end-cards:active{
    box-shadow: none;
}
.enddd-cards img{
    grid-column: 1/2;
    grid-row: 1/2;
}
.enddd-cards .card-body {
    grid-column: 1/2 ;
   position: relative;
   right: -260px;
    grid-row: 1/2;
}
.collection{
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 420px 420px 420px;

}



.end-cards .card-body{
    width: 360px;
}



footer {
    margin-top: 144px;
    background: #FAFAFA;
    border-top: 3px solid gray;
    padding: 70px 0;
    display: flex;
    align-items: center;
}

footer .boglan {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #000000;
}

footer .boglana {
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    display: block;
    /* identical to box height, or 94% */

    text-decoration: none;
    color: #000000;
}

footer .webs {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #000000;
}

footer .wep {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

footer .wep a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #000000;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #EDEDED;
}
.ulli{
    padding-bottom: 56px;
}
.olllli {
   
    position: relative;

top: -16px;
}

@media only screen and (max-width:1100px) {
    .sec_one__text {
        margin-left: 100px;
    }

    .sec_two .box span {
        display: block;
        font-weight: 700;
        font-size: 49px;
        line-height: 60px;
        /* identical to box height, or 111% */

        letter-spacing: -0.02em;
        color: #E50000;
    }

    .enddd-cards .card-body {
        grid-column: 1/2 ;
       position: relative;
       
       text-align: center;
       left: 0;
        grid-row: 2/3;
    }
    .enddd-cards img{
      position: relative;
      right: -50px;
        
        justify-content: center;
        
    }


    .sec_two .box p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */


        color: #000000;
    }
    

    
}

@media only screen and (max-width:992px) {
    .hero .img {
        display: none;
    }

    .sec_one .img {
        position: relative;
        width: 537.6px;
        display: block;
        margin-left: 113px !important;
        height: 410px;
        margin: auto;
    }

    .sec_one__text {
        margin-left: 0;

    }
    .collection{
        position: relative;
        left: -100px;
     grid-template-columns: 600px 600px;
    }

    .sec_two .box span {
        display: block;
        font-weight: 700;
        font-size: 46px;
        line-height: 60px;
        /* identical to box height, or 111% */

        letter-spacing: -0.02em;
        color: #E50000;
    }

    .sec_two .box p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */


        color: #000000;
    }
    .enddd-cards{
        position: relative;
        left: -30px;
    }
    

    .footer__colum {
        flex-direction: column;
    }

    .footer__colum .col-6:nth-child(1) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .footer__colum .col-6:nth-child(1) .boglan {
        margin-top: 40px;
    }

    .footer__colum .col-6:nth-child(1) .boglana {
        width: 300px;
        margin-top: 53px;
        margin-bottom: 40px;
    }

}

 @media only screen and(max-width:768px){
    .end-cards{
        border: none;
       position: relative;
       right: -250px;
    }
/* 
    .collection{
        position: relative;
        left: -100px;
     grid-template-columns: 800px ;
    } */
  
 }




@media only screen and (max-width:576px) {
.hero__text h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    /* or 107% */

    letter-spacing: -0.02em;

    color: #000000;
}
    .sec_one{
        margin-top: 144px;
    }
    .sec_one .img {
        object-fit: contain;
        position: relative;
        left: 0;
        width: 100%;
        margin-left: 8px !important;
    }

    .sec_one__text {
        margin-left: 0;
    }

    .sec_two .box span {
        display: block;
       
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        /* identical to box height, or 111% */

        letter-spacing: -0.02em;
        color: #E50000;
    }

    .sec_two  .box p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */


        color: #000000;
    }
    .acca{
        position: relative;
        right: -10px;
    }
   
    .end-cards{
        border: none;
        width: 330px;
       position: relative;
       
    }

    /* .blockuch {
        display: none;
    } */

    .footer__colum {
        flex-direction: column;
    }

    .footer__colum .col-6:nth-child(1) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
 
    }

    .footer__colum .col-6:nth-child(1) .boglan {
        margin-top: 40px;
    }

    .footer__colum .col-6:nth-child(1) .boglana {
        width: 300px;
  
        text-align: end;
        font-size:20px;
        margin-top: 53px;
        margin-bottom: 40px;
    }

}